{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">

        <h2>Authorization</h2>
        <form  method="post" >
            {% csrf_token %}
            {{ form.as_p}}
          <div class="input-box button">
            <input type="submit" value="Login Now">
          </div>
        </form>
          <div class="text">
            <h3>Already have an account? <a href="{% url 'signup' %}">Login now</a></h3>
          </div>
      </div>
</body>
</html>